#spring.cloud.nacos.config.server-addr=127.0.0.1:8848
#
## Nacos \u63A7\u5236\u53F0\u6DFB\u52A0\u914D\u7F6E\uFF1A
## Data ID\uFF1Aexample.properties
## Group\uFF1ADEFAULT_GROUP
## \u914D\u7F6E\u5185\u5BB9\uFF1AuseLocalCache=true
#spring.application.name=user-center
## \u6307\u5B9A\u914D\u7F6E\u7684\u540E\u7F00\uFF0C\u652F\u6301 properties\u3001yaml\u3001yml\uFF0C\u9ED8\u8BA4\u4E3A properties
##spring.cloud.nacos.config.file-extension=properties
#spring.cloud.nacos.config.file-extension=yml
#spring.profiles.active=dev


server:
  port: 8080
spring:
  profiles:
    active: dev
  application:
    name: config
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        namespace: 142e4905-a36a-4d9f-b18b-ed46c9d9a363
      config:
        # 配置中心地址
        server-addr: 127.0.0.1:8848
        # 配置文件格式
        file-extension: yml
        namespace: 142e4905-a36a-4d9f-b18b-ed46c9d9a363
